main {
  height: 100%;
  overflow: auto;
  margin: 0 1rem;
}

main h2 {
  font-weight: 700;
  color: #ffffff;
}

.subtitle {
  font-size: 1rem;
  font-style: italic;
}

main section.editor {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

main section.editor textarea {
  flex: auto;
}

main section.editor .action-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

main section.editor .action-buttons button {
  padding: .4rem 0;
  margin: 1rem 0;
  font-size: .9rem;
  border: solid 3px white;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
}

main section.editor .action-buttons button:focus, .action-buttons button:hover {
  color: #15BC9B;
  background: #ffffff;
  outline: 0;
}

main section.menu-btns {
  margin-bottom: 0.8rem;
}

section.menu-btns .btn-action {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: 600;
  margin-right: 0.8rem;
  padding: .16rem .6rem;
  cursor: pointer;
}

section.menu-btns .btn-action:hover, .btn-action:active {
  color: #2C3E50;
  background-color: #ffffff;
  border: 2px solid #2C3E50;
  outline: 0 none;
}

section.menu-btns .btn-action:focus {
  outline: 0;
}

input[type="file"] {
  display: none;
}

#generalJSON {
  width: 12rem;
}